$borderTransparent: 5px solid transparent;
$borderHover: 5px solid black;


.container{

  max-width: 1400px;
  padding: 0 0.5rem;

}

@media (min-width: 576px) {  }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {  }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {  }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  }



@font-face {
   font-family: 'Young';
   src: url("fonts/Young/Young.ttf") format("truetype");
}

%font-Young{

  font-family: 'Young', sans-serif;
}

.product-container{
  margin: 0;

}

.product-item{
  padding: 0.5rem;
  margin-bottom: 1.5rem;
  max-width: 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  box-sizing: border-box;
  border: $borderTransparent;

  &:hover{
    border: $borderHover;
  }

  @media (min-width: 576px) {
    max-width: 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
  }

  @media (min-width: 992px) {
    max-width: 33.3333%;
    -ms-flex: 0 0 33.3333%;
    flex: 0 0 33.3333%;
  }
}

.product-image{

  img{
    width: 100%;
    height: 12rem;
    object-fit: cover;
  }
}

.product-title{
  font-size: 1.5rem;
  box-sizing: border-box;
  padding: 0 0.5rem;

}

.product-purchase-details{

  @extend %font-Young;
  display: block;
  height: auto;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  padding: 0 0.5rem;

}



.product-price{
  display: block;
  float: left;
  font-size: 1.2rem;

  /*padding matches button padding-top and bottom*/
  padding: 0.375rem 0;
}

.product-cart{
  display: block;
  float: right;


}
